[submodule "roms/mooneye-test-suite"]
	path = roms/mooneye-test-suite
	url = https://github.com/Gekkio/mooneye-test-suite.git
[submodule "roms/MBC3-Tester-gb"]
	path = roms/MBC3-Tester-gb
	url = https://github.com/EricKirschenmann/MBC3-Tester-gb.git
	ignore = untracked
[submodule "roms/gb-test-roms"]
	path = roms/gb-test-roms
	url = https://github.com/retrio/gb-test-roms
[submodule "roms/scribbltests"]
	path = roms/scribbltests
	url = https://github.com/Hacktix/scribbltests
[submodule "roms/TurtleTests"]
	path = roms/TurtleTests
	url = https://github.com/Powerlated/TurtleTests.git
[submodule "roms/mealybug-tearoom-tests"]
	path = roms/mealybug-tearoom-tests
	url = https://github.com/mattcurrie/mealybug-tearoom-tests.git
[submodule "roms/cgb-acid2"]
	path = roms/cgb-acid2
	url = https://github.com/mattcurrie/cgb-acid2
[submodule "roms/dmg-acid2"]
	path = roms/dmg-acid2
	url = https://github.com/mattcurrie/dmg-acid2.git
[submodule "roms/strikethrough"]
	path = roms/strikethrough
	url = https://github.com/Hacktix/strikethrough.gb.git
[submodule "roms/wilbertpol-test-suite"]
	path = roms/wilbertpol-test-suite
	url = https://github.com/vojty/wilbertpol-test-suite.git
[submodule "roms/BullyGB"]
	path = roms/BullyGB
	url = https://github.com/Hacktix/BullyGB.git
[submodule "roms/age-test-roms"]
	path = roms/age-test-roms
	url = https://github.com/c-sp/age-test-roms.git
