[package]
name = "debugger-web"
version = "0.1.0"
authors = ["Tom치코 Vojt치코ek <vojtasek.tomas@seznam.cz>"]
repository = "https://github.com/vojty/feather-gb"
description = "Just another GameBoy emulator written in Rust 游"
license = "UNLICENSED"
edition = "2021"

[lib]
crate-type =["cdylib"]


[dependencies]
console_error_panic_hook = "0.1.7"
debugger = { path = "../debugger" }
eframe = "0.20.1"
env_logger = "0.10.0"
js-sys = "0.3.60"
log = "0.4.17"
serde = { version = "1.0.152", features = ["derive"] }
serde-wasm-bindgen = "0.4.5"
wasm-bindgen = { version = "0.2.83", features = ["serde-serialize"] }
wasm-bindgen-futures = "0.4.33"
wasm-logger = "0.2.0"
tracing-wasm = "0.2.1"

[dependencies.web-sys]
version = "0.3.60"
features = [
  'Headers',
  'Request',
  'RequestInit',
  'RequestMode',
  'Response',
  'Window',
]
