[package]
name = "debugger-web"
version = "0.1.0"
authors = ["Tom치코 Vojt치코ek <tomas.vojtasek@tipsport.cz>"]
repository = "https://github.com/vojty/feather-gb"
description = "Just another GameBoy emulator written in Rust 游"
license = "UNLICENSED"
edition = "2018"

[lib]
crate-type =["cdylib"]


[dependencies]
log = "0.4.14"
debugger = { path = "../debugger" }
env_logger = "0.8.3"
eframe = "0.11.0" # Gives us egui, epi and web+native backends
egui_web = "0.11.0"
wasm-bindgen = { version = "0.2.71", features = ["serde-serialize"] }
js-sys = "*"
console_error_panic_hook = "0.1.6"
serde-wasm-bindgen = "0.1.3"
serde = { version = "1.0.123", features = ["derive"] }
wasm-bindgen-futures = "0.4.21"
wasm-logger = "0.2.0"

[dependencies.web-sys]
version = "0.3.48"
features = [
  'Headers',
  'Request',
  'RequestInit',
  'RequestMode',
  'Response',
  'Window',
]
