[package]
name = "debugger-web"
version = "0.1.0"
authors = ["Tom치코 Vojt치코ek <vojtasek.tomas@seznam.cz>"]
repository = "https://github.com/vojty/feather-gb"
description = "Just another GameBoy emulator written in Rust 游"
license = "UNLICENSED"
edition = "2021"

[lib]
crate-type =["cdylib"]


[dependencies]
console_error_panic_hook = "0.1.6"
debugger = { path = "../debugger" }
egui_web = "0.15.0"
env_logger = "0.9.0"
js-sys = "0.3.51"
log = "0.4.14"
serde = { version = "1.0.126", features = ["derive"] }
serde-wasm-bindgen = "0.3.0"
wasm-bindgen = { version = "0.2.74", features = ["serde-serialize"] }
wasm-bindgen-futures = "0.4.24"
wasm-logger = "0.2.0"

[dependencies.web-sys]
version = "0.3.48"
features = [
  'Headers',
  'Request',
  'RequestInit',
  'RequestMode',
  'Response',
  'Window',
]
