/** biome-ignore-all lint/suspicious/noUnknownAtRules: tailwind specifics */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GillSans";
  src: url("../fonts/GillSansMediumItalic.otf");
  font-style: italic;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "GillSans";
  src: url("../fonts/GillSansBoldItalic.otf");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Pretendo";
  src: url("../fonts/Pretendo.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "NESController";
  src: url("../fonts/NES_Controller.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

.font-nes {
  /* biome-ignore lint/a11y/useGenericFontNames: custom font loaded by vite */
  font-family: "NESController";
}

.font-pretendo {
  /* biome-ignore lint/a11y/useGenericFontNames: custom font loaded by vite */
  font-family: "Pretendo";
}

.font-gills-sans {
  /* biome-ignore lint/a11y/useGenericFontNames: custom font loaded by vite */
  font-family: "GillSans";
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}
